---
import { Icon } from 'astro-icon';
import { Item } from '~/services/trello';
import Steps from '~/components/widgets/Steps.astro';

export interface Props {
  title?: string;
  subtitle?: string;
  highlight?: string;
  items?: Array<Item>;
}

const { items = [] } = Astro.props;
---

<section class="relative">
  <div class="absolute inset-0 bg-blue-50 dark:bg-slate-800 pointer-events-none" aria-hidden="true"></div>
  <div class="relative max-w-7xl mx-auto px-2 sm:px-1">
    <div class="py-4 sm:py-6 lg:py-8 lg:pt-12">
      <div class={`grid gap-6 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 my-12 dark:text-white items-stretch`}>
        {
          items &&
            items.length > 0 &&
            items.map(({ title, icon, subitems }) => (
              <div class="relative flex flex-col p-6 bg-white dark:bg-slate-900 rounded shadow-lg hover:shadow-md transition border border-transparent dark:border-slate-800">
                <div class="flex items-center">
                  <Icon name={icon} class="w-10 h-10" />
                  <div class="ml-4 text-2xl md:text-2xl font-bold">{title}</div>
                </div>
                {subitems && subitems.length && subitems.map((ssb) => <Steps title={ssb.title} items={ssb.subitems} />)}{' '}
              </div>
            ))
        }
      </div>
    </div>
  </div>
</section>
